* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

:root {
  --background-color: rgb(255, 255, 255);
  --primary-color: rgb(21, 227, 108);
  --black-color: rgba(0, 0, 0, 0.541);
  --font-family--headone: "Paytone One", sans-serif;
  /*The font to be used for FAGBEMS and FUNAABSU */
  --font-family-headers: "Poppins", sans-serif;
  /* The fonts for the headers sections*/
  --font-family-body: "Nunito", sans-serif;
  --desktop-large-font-size: 84px;
  /* The font-size for the FAGBEMS and FUNAABSU */
  --desktop-medium-font-size: ;
}

/* The navigation bar design  */
header {
  padding: 10px 64px;
  height: 18px;
  width: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  flex-direction: row;
  cursor: pointer;
  position: sticky;
}

header img {
  height: 42px;
  width: 42px;
  object-fit: contain;
  /* transform: scale(0.8); */
}

header nav {
  vertical-align: bottom;
}

header nav a {
  text-decoration: none;
  font-family: var(--font-family-headers);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--black-color);
}
/* menu navs */
#close-nav,#menu-button{
  display: none;
}

/* to debug the overflowing elements and to align the elements perfectly
header,header::before,header::after{
  border: solid 2px;
} */

/* The header hovers on the button designs  */

nav a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

/* The hero-section designs */
/* .hero-section{
background:url("assests/images/main_gate_funaab.jpg");
height: 500px;
background-size: 110vw 650px ;
max-width: 100%;
/* background-origin: border-box; 
width: 110vw;
background-color: linear;
background-repeat: no-repeat;
background-blend-mode: darken;
}  */
div img {
  max-width: 100vw;
  height: 650px;
  overflow: hidden;
  position: relative;
  z-index: -9999;
}

/* .hero-section,*::before,*::after{
  outline: solid 1px;
} */
.hero-section {
  position: relative;
  overflow: hidden;
  z-index: 9999;
  margin-top: 20px;
}

.overlay-one {
  height: 690px;
  width: 110vw;
  background-color: var(--black-color);
  position: absolute;
  top: 0;
  z-index: 99;
}

.hero-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 64px;
}

.fagbems-hero-picture-overlay {
  height: 500px;
  width: 500px;
  background-color: var(--primary-color);
  border-radius: 50%;
  float: right;
  z-index: -99;
  transform: translateX(-10px);
}

#fagbems-display-picture-white {
  height: 600px;
  width: 500px;
}

#fagbems-display-picture-white img {
  max-width: 100%;

  /* background: var(--primary-color); */
  /* border-radius:50%;
  margin-right: 120px; */
}

.hero-section-content {
  vertical-align: middle;
  text-align: justify;
  margin-top: 130px;
}

.hero-section-content h1 {
  font-size: 56px;
  font-family: var(--font-family-headers);
  color: var(--background-color);
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}

.hero-section-content h2,
#funaabsu {
  font-family: var(--font-family--headone);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 84px;
  list-style: 61px;
}

.hero-section-content h3 {
  font-family: var(--font-family-body);
  font-size: 32px;
  color: var(--background-color);
  line-height: 10px;
  font-weight: 400;
}

.hero-horizon {
  border: 1px inset var(--background-color);
  margin-bottom: 10px;
  width: 600px;
}

.hero-section-content a {
  text-decoration: none;
  padding: 10px;
  color: var(--background-color);
  font-family: var(--font-family-headers);
  font-size: 22px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.hero-section-content a:hover {
  background-color: var(--);
}

#button {
  margin-top: 30px;
}

#button:hover {
  opacity: 0.8;
}

/* Container Two */
.box-containers {
  margin: 32px 64px 0px 64px;
  display: flex;
  overflow: hidden;
}

.container-two h2,
#fagbems-experience {
  font-family: var(--font-family-headers);
  font-size: 56px;
  text-align: center;
  margin-top: 32px;
}

.box-one {
  display: flex;
  height: 500px;
  width: 600px;
  border: 7px solid var(--primary-color);
  border-radius: 20px;
  justify-content: space-between;
  transform: scale(0.9);
  flex-direction: column-reverse;
  overflow: hidden;
}

.box-contents {
  font-family: var(--font-family-headers);
  padding: 24px;
  text-align: center;
}

.box-contents h3,
.founder-paye h3 {
  font-size: 32px;
  width: auto;
}

.box-contents p {
  font-size: 16px;
  font-family: var(--font-family-body);
  font-weight: 400;
  word-wrap: normal;
  width: auto;
  margin-top: 10px;
}

.box-one .box-image {
  position: relative;
  left: 0px;
  border-bottom: px solid var(--primary-color);
  overflow: hidden;
}

.box-one .box-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
  object-fit: contain;
  overflow: hidden;
}

/* The hover effects for the box-containers */

.box-one:hover {
  box-shadow: 2px 2px 70px 5px var(--primary-color);
  transition: all;
  transition-duration: 1.3s;
}

.box-image:hover .box-overlay {
}

.box-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family-headers);
  color: var(--background-color);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  height: 269px;
  width: 400px;
  text-align: center;
  vertical-align: middle;
  animation-name: myAnimation;
  transition-timing-function: ease-in;
  transition: all;
  transition-delay: 0.6s;
  overflow: hidden;
}

.box-image:hover .box-overlay {
  border-radius: 12px 12px 0px 0px;
  visibility: visible;
  overflow: hidden;
}

#fagbems-vote {
  transform: translateY(100%);
}

#vote-section {
  width: 50px;
  height: 50px;
}

#campaign-icons {
  height: 50px;
  width: 50px;
  margin-top: 24px;
}

.campaign-icons {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.campaign-words {
  margin: 40px 0px 0px 40px;
}

#hero-section-content {
  display: flex;
}

.campaign-words h3:nth-child(2),
.campaign-words h3:nth-child(3) {
  margin-top: 54px;
}

.campaign-words h3 {
  font-size: 56px;
}

.for-funaabsu p {
  color: var(--background-color);
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -40px;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  
}

#funaab-academic-overlay {
  width: 110vw;
}

/* section four */
.experience-section {
  margin: 24px 64px 0px 64px;
  display: flex;
  justify-content: space-between;
}

.outer-progress-bar {
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  outline: 1.5px solid rgb(0, 0, 0, 0.5);
  animation-name: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.outer-progress-bar div {
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: auto;
}

.progress-bar-length {
  height: 80px;
  width: 1.5px;
  background-color: rgb(0, 0, 0, 0.5);
  margin: -2px 0px 0px 18.1px;
  text-align: left;
}

#dark {
  background-color: rgb(0, 0, 0.5);
}

/* The progress bar content */
#founder-paye {
  font-family: var(--font-family-headers);
  text-align: left;
  margin-top: 0px;
}

#founder-paye h3 {
  padding: 15px;
  height: 25px;
  width: 180px;
  background-color: rgb(196, 196, 196);
  font-size: 24px;
  text-align: center;
}

#founder-paye h3 + p {
  font-size: 16px;
  font-family: var(--font-family-body);
  padding: 5px 0 0 0;
  /* width: 900px; */
}

#progress-bar-content {
  margin-left: 40px;
}

.progress-bar-margin {
  margin-top: 14px !important;
}

/* The testimonial section designs */
section .testimonial {
  /* display: flex;
  justify-content: center; */
  margin-top: 30px;
}

/* .testimonial {
  height: 180px;
  width: 100%;
  background-color: rgb(196, 196, 196);
  font-family: var(--font-family-body);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.testimonial img {
  height: 200px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  margin-bottom: 10px;
}
.testimonial p {
  padding: 30px;
} */
#testimonial-slider {
  width: 100vw;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.testimonial {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: -1000px;
  animation: slide 30s linear 45s infinite;
  margin: 0 auto;
}

.one {
  animation: slide 15s linear 20s infinite;
  left: -500px;
}

.two {
  animation: slide 30s linear 32s infinite;
}

.testimonial-text {
  font-size: 16px;
  text-align: center;
}

.testimonial-author {
  font-size: 14px;
  text-align: right;
  margin-top: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

/* .testimonial img {
  height: 200px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
} */
/* The photo gallery */
#general-container-gallery {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#photo-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  /* position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  border: 7px solid var(--primary-color);
  border-radius: 20px;
}

.photo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: all 1.5s;
}

.photo:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.5);
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* The accordion designs */

.general-accordion {
  display: flex;
  justify-content: center;
}

.accordion {
  overflow: hidden;
}

.accordion-section {
  border-bottom: 1px solid rgb(196, 196, 196);
}

.accordion-section-title {
  display: block;
  padding: 20px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  font-family: var(--font-family-headers);
  font-weight: 700;
}

.accordion-section-title:hover,
.accordion-section-title.active {
  background-color: #f2f2f2;
}

.accordion-section-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: var(--font-family-body);
  margin: 5px 30px 0px 30px;
  font-size: 16px;
}

.accordion-section-content.active {
  max-height: 500px;
  /* Adjust this value to control the height of the open section */
}

/* The cta css designs */
.cta-general-container {
  height: auto;
  width: 100vw;
  background-color: rgb(196, 196, 196);
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  padding: 50px 64px 50px 64px;
}

.cta-general-container div {
}

.cta-general-container div p {
  font-family: var(--font-family-headers);
  font-size: 24px;
}

#cta-button a {
  text-decoration: none;
  padding: 10px;
  color: var(--background-color);
  font-family: var(--font-family-headers);
  font-size: 22px;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-left: 180px;
}

#cta-button a:hover {
  opacity: 0.8;
}

footer header {
  flex-direction: row-reverse;
}

#designer-watermark {
  display: flex;
  justify-content: center;
  font-family: var(--font-family-body);
  padding: 30px;
  cursor: pointer;
  text-align: center;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.1s;
  z-index: 999999999999999999;
  overflow: hidden;
}

.back-to-top:hover {
  background: #eee;
}

/* The about me designs */

.about-me-container{
  display: flex;
  justify-content:space-around;
  margin: 0px 64px;
}
.about-me-contents h2,.about-me-contents h3{
  font-family: var(--font-family-headers);
  color: var(--primary-color);
}
main > h2{
  font-family: var(--font-family-headers);
  color: var(--primary-color);
}

.about-me-contents h3{
 margin-top: 16px;
}

.about-me-contents p, .about-me-contents ul{
  font-family:var(--font-family-body);
  font-size: 16px;
}
.about-me-contents ul{
  list-style-type:disc;
  
}
.about-me-picture img{
  max-width: 1000px;
  height: 550px;
  background-color: var(--primary-color);
  border-radius: 50px;
  margin-left: 14px;
  margin-top: 24px;

  
}
.about-me-contents p{
  margin-top: 12px;
}
#meet-fagbems{
  margin-left: 64px;
}
#btt-btn{
  text-decoration: none;
  color: #eee;
}

/* The reponsive views */

@media (max-width: 800px) {
  header {
    display: none;
    margin: 0;
    flex-direction: column;
    position: fixed;
    background-color:;
    width: 100vw;
    height: 100%;
    justify-content: flex-start;
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999;
    
  }
  #close-nav{
    display: block;
    position: relative;
   left: 65%;
    top: -40px;
    
  }
  #menu-button{
    display: flex;
    
  }
  

  header img{
    margin-left: -20px;
  }
  nav{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 50px;
    margin-left: -20px;
    /* justify-content: flex-start; */
  }
  nav a{
    color: var(--black-color) ;
    z-index: 99999;
    margin-top: 10px;
   
  }
.container-menu{
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  position: relative;
  z-index: 99;
}

.container-menu img{
  display: flex;
  height: 40px;
  width: 50px;
}
  .container {
    display: block;
    cursor: pointer;
    position: relative;
    right:0vw;

    
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg) ;
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg) ;
  } */
  .hero-section {
    margin-top: 0;
    overflow: hidd;
    height: auto;
    width: auto;
  }

  .hero-section-container {
    flex-direction: column;
    margin: 0px 32px 0px 32px;
    overflow: visible;
    width: auto;
  }

  .hero-section-content h1 {
    font-size: 48px;
  }

  .hero-section-content h2,
  #funaabsu {
    font-size: 64px;
  }

  .hero-horizon {
    width: 300px;
  }

  div img {
    max-width: 1000px;
    height: 750px;
  }

  .overlay-one {
    height: 750px;
  }

  .hero-section-content {
    margin: 10px 0px 0px 0px;
  }

  .hero-section-content h3 {
    width: 10em;
    word-spacing: 3px;
    line-height: 1.2;
    font-weight: 400;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Inter', sans-serif;

  }

  .fagbems-hero-picture-overlay {
    margin: 200px 0px 0px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53.5%, -50%) scale(0.67);
  }

  .box-containers {
    flex-direction: column;
    overflow: visible;
    margin: 24px 32px 24px 32px;
    justify-content: center;
  }

  .box-one {
    height: auto;
    width: auto;
    overflow: visible;
  }

  .container-two h2,
  #fagbems-experience {
    font-size: 24px;
  }

  /* .campaign-icons{
  height: 50px;
  width: 50px;
} */
  .campiagn-words {
    margin-top: 2px;
    margin-left: -30px;
  }

  .campaign-words h3 {
    font-size: 36px;
  }

  .campaign-words h3:nth-child(2),
  .campaign-words h3:nth-child(3) {
    margin-top: 48px;
  }

  .for-funaabsu p,
  .for-funaabsu > p {
    margin-top: 8px;
    transform: translateY(-10px) translateX(-90px);
  }

  .for-funaabsu #funaabsu {
    text-align: left;
    line-height: 1;
    transform: translateX(-120px) translateY(20px) scale(0.8);
    width: 100%;
  }

  .back-to-top {
    bottom: 20px;
    right: 20px;
    width: 100px;
  }

  .progress-bar-length {
    height: 195px;
  }

  .experience-section {
    margin: 24px 32px 0px 32px;
  }

  #photo-gallery {
    flex-direction: column;
  }

  .photo {
    width: auto;
    height: auto;
  }
  .photo:hover{
    transform: scale(1);
  }

  #general-container-gallery {
    margin: 24px 32px 0px 32px;
  }
  .general-accordion {
    margin: 24px 32px 0px 32px;
  }
  .cta-general-container {
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin-top: 24px;
    padding: 50px 32px 50px 32px;
  }
 
  #cta-button a {
    margin-left: 0;
  }
  #cta-button {
    transform: translateY(24px);
  }

  .about-me-container{
    flex-direction: column-reverse;
    margin: 0px 32px;
  }
  .about-me-picture img{
    transform: scale(1);
    margin: 0;
    height: 450px;
    overflow: hidden;
    max-width: 105%;
  }

  main #meet-fagbems{
    margin-left: 32px;
    margin-bottom: 24px;
  }
 header #footer{
  display: flex;
  flex-direction: column;
 }
}
